@charset "UTF-8";
/* abstracts */
:root {
  --white: #fff;
  --snow: #fafafa;
  --quick-silver: #a0a0a0;
  --jelly-bean: #e56353;
  --salmon: #e97f72;
  --pastel-pink: #f0a9a1;
  --granite-gray: #686963;
  --taupe-gray: #91918d;
  --gray: #babab8;
}

/* base */
body {
  font-family: 'Raleway', sans-serif;
}

.título {
  font-weight: 200;
  font-size: 70px;
}

.p-hero, .título-nosotros {
  font-weight: 700;
  font-size: 60px;
}

.título-tomates, .título-limache, .título-javiera, .título-roberto {
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.p-tomates, .p-limache {
  padding-left: 270px;
  padding-right: 225px;
  font-size: 15px;
  font-weight: 200;
  text-align: start;
}

.título-nosotros {
  background-color: var(--jelly-bean);
  color: var(--snow);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-javiera, .p-roberto {
  padding-left: 240px;
  padding-right: 165px;
  font-size: 15px;
  font-weight: 200;
  text-align: start;
}

.título-contacto {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.botón {
  color: var(--taupe-gray);
  font-weight: 700;
  font-size: 25px;
}

/* components */
.botón {
  background-color: var(--snow);
  border: none;
  border-radius: 50px;
  width: 280px;
  height: 50px;
}

/* layout */
.contacto {
  background-color: var(--jelly-bean);
  height: 200px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: var(--taupe-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.footer .img-footer {
  height: 70px;
}

.hero {
  background-color: var(--jelly-bean);
  height: 500px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
}

.limache {
  background-color: var(--snow);
  color: var(--granite-gray);
  padding-bottom: 30px;
}

.limache img {
  padding: 80px;
  padding-bottom: 20px;
}

.nosotros {
  background-color: var(--snow);
  color: var(--granite-gray);
  padding-bottom: 70px;
  text-align: center;
}

.nosotros img {
  width: 400px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.tomates {
  background-color: var(--taupe-gray);
  color: var(--white);
  padding-bottom: 30px;
}

.tomates img {
  padding: 80px;
  padding-bottom: 20px;
}

/*vendors */
