body{
    font-family: 'Raleway', sans-serif;
}
.título {
    font-weight: 200;
    font-size: 60px;   
}
.p-hero {
    font-weight: 700;
    font-size: 50px;    
}

%títulos {
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
.título-tomates, .título-limache {
    @extend %títulos;
}

%párrafos{
    padding-left: 270px;
    padding-right: 225px;
    font-size: 15px;
    font-weight: 200;
    text-align: start;
}
.p-tomates, .p-limache {
    @extend %párrafos;
}

