body{
    font-family: 'Raleway', sans-serif;
}
.título {
    font-weight: 200;
    font-size: 70px;   
}
%sub-título {
    font-weight: 700;
    font-size: 60px;
}

.p-hero, .título-nosotros {
    @extend %sub-título;   
}

%títulos {
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
.título-tomates, .título-limache, .título-javiera, .título-roberto {
    @extend %títulos;
}

%párrafos{
    padding-left: 270px;
    padding-right: 225px;
    font-size: 15px;
    font-weight: 200;
    text-align: start;
}
.p-tomates, .p-limache{
    @extend %párrafos;
}

.título-nosotros{
    background-color: var(--jelly-bean);
    color: var(--snow);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

%párrafos2{
    padding-left: 240px;
    padding-right: 165px;
    font-size: 15px;
    font-weight: 200;
    text-align: start;
}
.p-javiera, .p-roberto{
    @extend %párrafos2;
}

.título-contacto {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}
.botón{
    color: var(--taupe-gray);
    font-weight: 700;
    font-size: 25px;

}