.nosotros{
    background-color: var(--snow);
        color: var(--granite-gray);
        padding-bottom: 30px;
    
     
        img {
            padding: 80px;
            padding-bottom: 20px;
        }
}